<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

</head>

<body>
<header id="site-header" class="fixed-top">
    <nav class="navigation" sec:authorize="hasRole('ROLE_ADMIN')">
        <ul>
            <li class="nav-item">
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/categories' ? 'active':''}"
                   th:href="@{/admin/categories}" class="nav-link" aria-current="page">Categories</a>
            </li>
            <li class="nav-item">
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/challenges' ? 'active':''}"
                   th:href="@{/admin/challenges}" class="nav-link">Challenges</a>
            </li>
            <li class="nav-item">
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/sharings' ? 'active':''}"
                   th:href="@{/admin/sharings}" class="nav-link">Posts</a>
            </li>
            <li class="nav-item">
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/users' ? 'active':''}"
                   th:href="@{/admin/users}" class="nav-link">Users</a>
            </li>
            <li class="nav-item logout">
                <a  th:classappend="${#httpServletRequest.getRequestURI() == '/logout' ? 'active':''}"
                    th:href="@{/logout}" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
    <li class="error-style" role="alert" th:if="${!#strings.isEmpty(errorMessage)}"
        th:text="${errorMessage}" />
</header>
</body>

</html>